h1 {
    text-align: center;
    align-self: center;
    font-size: 88pt;
    color: #36213e;
    -webkit-text-stroke: 2px white;
}

nav {
    justify-content: right;
    justify-self: right;
}

body {
    background-color: #b8f3ff;
}


ul {
    position: relative;
    left: 27%;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    row-gap: 10px;
    column-gap: 20%;
}

li {
    padding: 5px;
    color: white;
    background-color: #36213e;
}

a {
    text-decoration: none;
    color: white;
}

.begining {
    width: 99%;
    background-color: black;
    justify-self: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    color: white;
    box-sizing: border-box;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: 20px;
}

.adjust {
    width: 50%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec {
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    display: inline-flex;
    wifth: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
}

.rows {
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 10px;
}

a:hover {
    background-color: #554971; 
}
