

.adjust {
    position: relative;
    left: 12%;
    width: 75%;
    height: 1375px;
    align-self: center;
    border: 30px solid #36213e;
}


h1 {
    text-align: center;
    align-self: center;
    font-size: 88pt;
    color: #36213e;
    -webkit-text-stroke: 2px white;
}

nav {
    justify-content: right;
    justify-self: right;
}

body {
    background-color: #b8f3ff;
    overflow-x: hidden;
}


.adjust:hover {
    border: 30px solid #554971;
}


ul {
    position: relative;
    left: 27%;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    row-gap: 10px;
    column-gap: 20%;
}

li {
    padding: 5px;
    color: white;
    background-color: #36213e;
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #554971; 
}